{ZL.Source id="文章模型数据源标签"/}<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="文章模型数据源标签" FD="Title" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="文章模型数据源标签" FD="Tagkey" page="0"/}" />
<meta name="Description" content="{SField sid="文章模型数据源标签" FD="Title" page="0"/}">
{ZL:Boot()/}
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<script src="/JS/Controls/B_User.js"></script>
</head>
<body>
{ZL.Label id="全站头部"/} 
<!--内页通栏banner广告位 -->
<div class="content_banner">
</div>
<div class="container">
<ol class="breadcrumb margin_top20">
<li><a href="/">首页</a></li>
<li><a href="{ZL:GetInfoUrl(33)/}">{SField sid="文章模型数据源标签" FD="Title" page="0"/}</a></li>
</ol>
</div>
<div class="content_body">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="about_l">
<div class="about_logo"><a href="/"><img src="{$CssDir/}images/about_logo.png" alt="" /></a></div>
<p>手心制药全体员工欢迎您</p>
<div class="about_erwei">
<img src="{$CssDir/}images/about_erwei.png" alt="" /><br><br>
手心制药官方微信
</div>
</div>
<div class="about_l_b">
<div class="about_l_t">佛山手心制药有限公司</div>
<ul>
<li>生产地址：佛山手心制药有限公司</li>
<li>邮政编码：528000</li>
<li>电话号码：0757-83981345</li>
<li>传真号码：0757-82218181</li>
<li>邮 箱：shouxin@chiralchem.com</li>
<li>网 址： www.chiralpharm.com</li>
</ul>

</div>
</div>

<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
<div class="content_center">
<div class="myContent" style="margin-top:0;">
{SField sid="文章模型数据源标签" FD="content" page="0" /}
</div>
</div>
</div>
</div>
</div>
</div><!--主体结束 -->

{ZL.Label id="全站底部"/}
</body>
</html>
<script>
//检测固顶事件
var IO=document.getElementById('home_nav'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
    IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
        ".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
    var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
     if(s>H&&IO.fix||s<=H&&!IO.fix)return;
    if(!IE6)IO.style.position=IO.fix?"":"fixed";        
    IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};
 //]]>

//兼容wp8
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
  var msViewportStyle = document.createElement("style");
  msViewportStyle.appendChild(
    document.createTextNode(
      "@-ms-viewport{width:auto!important}"
    )
  );
  document.getElementsByTagName("head")[0].
    appendChild(msViewportStyle);
}

$(".bottom-close").click(function(){
	$(".bottom-contrainer").addClass("bottom-hide");
	$(".bottom-collspan").removeClass("collspan-hide");
})
$(".collspan").click(function(){
	$(".bottom-contrainer").removeClass("bottom-hide");
	$(".bottom-collspan").addClass("collspan-hide");	
})
$().ready(function(e) {
    $("#menu{SField sid="文章模型数据源标签" FD="GeneralID" page="0"/}").addClass("active");
});
var buser = new B_User();
buser.IsLogged(function(data,flag){
	if(flag)
	{
		data=JSON.parse(data);
		var uname=data.UserName;
		if(uname.length>5)
			uname=uname.substring(0,5)+"...";
		$(".nav_user").html("<a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\"><i class=\"fa fa-user\"></i> "+uname+" <span class=\"caret\"></span></a><ul class=\"dropdown-menu\" role=\"menu\"><li><a href=\"/User/Default.aspx\">会员中心</a></li><li><a href=\"/User/Default.aspx\">推客中心</a></li><li><a href=\"/User/Default.aspx\">财务信息</a></li><li><a href=\"javascript:;\" onclick=\"LogoutFun();\">安全退出</a></li></ul>");
	}
	else
	{
		$(".nav_user").html("<a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\"><i class=\"fa fa-user\"></i>登录/注册 <span class=\"caret\"></span></a><ul class=\"dropdown-menu\" role=\"menu\"><li><a href=\"/User/login.aspx\" target=\"_blank\">用户登录</a></li><li><a href=\"/User/Register.aspx\" target=\"_blank\">用户注册</a></li></ul>");
	}
});
function LogoutFun()
{
	buser.Logout(function(){location=location;});
}

</script>