{ZL.Source id="文章模型数据源标签"/}<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="文章模型数据源标签" FD="Title" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="文章模型数据源标签" FD="Tagkey" page="0"/}" />
<meta name="Description" content="{SField sid="文章模型数据源标签" FD="Title" page="0"/}">
{ZL:Boot()/}
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
</head>
<body class="yellbg">
<div class="wei_top" id="wei_top">
<div class="container">
<ul class="nav navbar-nav wei_top_l">
<li class="dropdown" role="presentation"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="ture">m***<i class="fa fa-chevron-down"></i></a>
<ul class="dropdown-menu second_list">		
<li class="sort-list"><a href="#">我的信息</a></li>
<li class="sort-list"><a href="#">退出</a></li>
</ul>
</li>
<li class="dropdown" role="presentation"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="ture">积分：20</a></li>
<li class="dropdown" role="presentation"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="ture">消息<i class="fa fa-chevron-down"></i></a>
<ul class="dropdown-menu second_list">		
<li class="sort-list"><a href="#">最新信息</a></li>
<li class="sort-list"><a href="#">热门推荐</a></li>
</ul>
</li>
</ul>
<ul class="wei_top_r">
<li class="active"><a href="#">首页</a></li>
<li><a href="#">我的任务</a></li>
<li><a href="#">我的兑奖</a></li>
<li><a href="#">公告</a></li>
</ul>
</div>
</div>
<div class="container">
<div class="fen_song_t">{SField sid="文章模型数据源标签" FD="Title" page="0"/}</div>
<div class="fen_song_b">
<ul>
<li>还剩：<span>48</span>天<span>20</span>小时<span>4</span>分<span>15</span>秒</li>
<li><b>任务奖励：</b></li>
<li><span>{SField sid="文章模型数据源标签" FD="Complimentary" page="0"/}</span>个积分</li>
<li>亲，复制下面的地址发送给您的朋友，他们浏览下方的全部宝贝您就可以获得积分，每成功邀请一个朋友获得一次积分奖励。</li>
<li>邀请地址：<input></li>
<li>您邀请的朋友也能获得<span>120</span>个积分</li>
<li>最多邀请<span>10</span>位好友</li>
</ul>
</div>
</div>
 


</body>
</html>
