{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/JS/Controls/B_User.js"></script>

</head>
<body>
{ZL.Label id="全站头部"/} 
<div class="v_banner">
<div class="container">

</div>
</div>
<!--内页通栏banner广告位 -->

<div class="container mySites">
<div class="row">
<ul class="breadcrumb">
<li><a href="/">首页</a><span class="divider"></span></li>
<li>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}<span class="divider"></span></li>
<li>频道首页 </li>
 </ul>
 </div>
</div>
<!--面包屑导航结束 -->

<!--内容主体开始 -->
<div class="container v_content">
<div class="row">
<div class="col-lg-3 col-md-3  col-sm-3 col-xs-12">

<div class="news_list">
<div class="news_list_t">
<ul>
<li><a href="{ZL:GetNodeLinkUrl(11)/}">视频中心</a></li>
<li><a href="{ZL:GetInfoUrl(21)/}">版权声明</a></li>
<li><a href="{ZL:GetInfoUrl(33)/}">联系我们</a></li>
<li><a href="#">招商加盟</a></li>
<li><a href="{ZL:GetNodeLinkUrl(5)/}">友情链接</a></li>
</ul>
</div>
</div>
</div>
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 v_contetn_r">
<div class="panel">
<div class="panel-heading">
<h3 class="panel-title">
{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}
</h3>
</div>

{ZL.Label id="输出视频带标题_分页" NodeID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}" TitieNum="30" ShowNum="10" /}

</div>
</div>

</div>
</div>
<!--内容主体结束 -->

{ZL.Label id="全站底部"/}
</body>
</html>
<script>
//检测固顶事件
var IO=document.getElementById('home_nav'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
    IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
        ".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
    var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
     if(s>H&&IO.fix||s<=H&&!IO.fix)return;
    if(!IE6)IO.style.position=IO.fix?"":"fixed";        
    IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};
 //]]>

//兼容wp8
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
  var msViewportStyle = document.createElement("style");
  msViewportStyle.appendChild(
    document.createTextNode(
      "@-ms-viewport{width:auto!important}"
    )
  );
  document.getElementsByTagName("head")[0].
    appendChild(msViewportStyle);
}

$(".bottom-close").click(function(){
	$(".bottom-contrainer").addClass("bottom-hide");
	$(".bottom-collspan").removeClass("collspan-hide");
})
$(".collspan").click(function(){
	$(".bottom-contrainer").removeClass("bottom-hide");
	$(".bottom-collspan").addClass("collspan-hide");	
})
var buser = new B_User();
buser.IsLogged(function(data,flag){
	if(flag)
	{
		data=JSON.parse(data);
		var uname=data.UserName;
		if(uname.length>5)
			uname=uname.substring(0,5)+"...";
		$(".nav_user").html("<a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\"><i class=\"fa fa-user\"></i> "+uname+" <span class=\"caret\"></span></a><ul class=\"dropdown-menu\" role=\"menu\"><li><a href=\"/User/Default.aspx\">会员中心</a></li><li><a href=\"/User/Default.aspx\">推客中心</a></li><li><a href=\"/User/Default.aspx\">财务信息</a></li><li><a href=\"javascript:;\" onclick=\"LogoutFun();\">安全退出</a></li></ul>");
	}
	else
	{
		$(".nav_user").html("<a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\"><i class=\"fa fa-user\"></i>登录/注册 <span class=\"caret\"></span></a><ul class=\"dropdown-menu\" role=\"menu\"><li><a href=\"/User/login.aspx\" target=\"_blank\">用户登录</a></li><li><a href=\"/User/Register.aspx\" target=\"_blank\">用户注册</a></li></ul>");
	}
});
function LogoutFun()
{
	buser.Logout(function(){location=location;});
}

</script>