{ZL.Source id="节点栏目信息数据源"/}<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>推客中心</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet" />
<script>
var gid='{ZL.Label id="获取当前登录会员组ID" /}';
if(gid<=1)
{
	alert("您不是正式会员，推客中心仅对正式会员开放！");
	window.location.href="/User/VIPUpgrade.aspx";
}
</script>
</head>
<body>
<div class="muser_tui_t">
<div class="media">
<div class="media-left"><a href="/User/Default1.aspx"><img alt="" src="" onerror="javascript:this.src='/Images/userface/noface.png';" /></a></div>
<div class="media-body media-middle">
<h4 class="media-heading">{ZL.Label id="输出指定用户真实姓名" /} <span class="pull-right"><i class="fa fa-angle-right"></i></span></h4>
</div>
</div>
</div>

<div class="muser_tui_s">
<span>累计收益</span>
<strong>{ZL.Label id="获取当前登录用户余额" /}</strong>
<p>不含未结算部分</p>
</div>

<div class="muser_tui_w">未结算收益<span class="pull-right">￥0.00 <i class="fa fa-angle-right"></i></span></div>

<div class="muser_tui_d">
<ul>
<li><a href="/Class_3/NodeNews.aspx#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x" style="color:#97cd31;"></i><i class="fa fa-volume-up fa-inverse fa-stack-1x"></i></span><br/>我的团队<p><span style="font-size:1em; color:#ff7000;">{ZL.Label id="获取当前用户一级会员总数" /}</span>个</p></a></li>
<li><a href="/wxshare.aspx"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x" style="color:#53bcf3;"></i><i class="fa fa-volume-up fa-inverse fa-stack-1x"></i></span><br/>开始推广<p>推广方式和说明</p></a></li>
<li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x" style="color:#fe6700;"></i><i class="fa fa-volume-up fa-inverse fa-stack-1x"></i></span><br/>英雄榜<p>你上榜了吗</p></a></li>
<div class="clearfix"></div>
</ul>
</div>

<div class="fenxiao_all">
<table class="table table-bordered">
<tr>
<td>级数</td>
<td>消费金额</td>
<td>成员数（人）</td>
</tr>
<tr>
<td>区长</td>
<td style="padding:0;">
<a href="/Class_3/NodeNews.aspx"><span><i class="fa fa-rmb"></i> {ZL.Label id="获取当前用户一级会员消费总金额" /}</span><br>查看明细</a>
</td>
<td style="padding:0;">
<a href="/Class_3/NodeNews.aspx"><span>{ZL.Label id="获取当前用户一级会员总数" /}</span><br>查看成员</a>
</td>
</tr>
<tr>
<td>站长</td>
<td style="padding:0;">
<a href="/Class_3/NodeHot.aspx"><span><i class="fa fa-rmb"></i> {ZL.Label id="获取当前用户二级会员消费总金额" /}</span><br>查看明细</a>
</td>
<td style="padding:0;">
<a href="/Class_3/NodeHot.aspx"><span>{ZL.Label id="获取当前用户二级会员总数" /}</span><br>查看成员</a>
</td>
</tr>
<tr>
<td>队长</td>
<td style="padding:0;">
<a href="/Class_3/NodeElite.aspx"><span><i class="fa fa-rmb"></i> {ZL.Label id="获取当前用户三级会员消费总金额" /}</span><br>查看明细</a>
</td>
<td style="padding:0;">
<a href="/Class_3/NodeElite.aspx"><span>{ZL.Label id="获取当前用户三级会员总数" /}</span><br>查看成员</a>
</td>
</tr>
</table>
</div>
</body>
</html>
<script>
var code='{$GetRequest(code)$}';
$.get("/wxpage.aspx?code={$GetRequest(code)$}", function(data){
	try
	{
		var userinfo=JSON.parse(data);
		console.log(userinfo)
		$(".muser_tui_t img").attr("src",userinfo.headimgurl).attr("alt",userinfo.nickname);
	}
	catch(e)
	{
		console.log(e);
	}
});
</script>